.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  box-sizing: border-box;
  padding: 0.2rem;
  margin: 0.05rem;
  width: 5rem;
}

.InputElement:focus {
  outline: none;
  background-color: #eee;
}

.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}
