.auth-form {
  width: 300px;

  h1 {
    color: #000;
    margin: 0 0 1rem 0;
    padding: 0;
  }
}

.form-control {
  padding: 0.4rem 0;
  input {
    display: block;
    width: 100%;
    padding: 0.3rem;
  }
}

.form-actions {
}
